page-login {
  .content{
    background-color: color($colors, verde);
    h5{ color: color($colors, light);  }
  }
  .footer{
    background-color: color($colors, light);
    .button{ border: 0; }
  }
}
