<ion-header>
  <ion-navbar>
    <img src="assets/imgs/ihouse_logo.png" width="50%" alt="">
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="container" *ngIf="job">
    <ion-item no-padding padding-top>
      <div margin-bottom text-center>
        <h1 margin-bottom>You were Invited</h1>
        <h1 margin-bottom>Service Job</h1>
      </div>

      <div class="detail" padding>
        <h2 margin-bottom>No. of rooms are <span>5</span></h2>
        <div margin-bottom>
          <h2>Extras Included</h2>
          <h2 *ngFor="let service of job.services"><span>{{ service.name }}, </span></h2>
        </div>

        <h2>Time</h2>
        <h2><span>{{ job.datetime|date:'dd/MM/yyyy hh:mm' }}</span></h2>
      </div>
    </ion-item>

    <div margin padding>
      <div *ngIf="!is_accept">
        <button ion-button round block margin-bottom large color="verde" (click)="accept()">Accept</button>
        <button ion-button round block large color="verde" (click)="onBack()">Decline</button>
      </div>
      <div *ngIf="is_accept">
        <div *ngIf="!job.end_datetime">
          <button ion-button round block large margin-bottom color="verde" (click)="start()" [disabled]="job.start_datetime">Start Job</button>
          <button ion-button round block large color="verde" (click)="finish()" [disabled]="!job.start_datetime">Finish Job</button>
        </div>
        <div *ngIf="job.end_datetime">
          <button ion-button round block large color="verde" (click)="onMessages()">Messages</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
