page-detail-job {
    .content{
        height: 100%;
        width: 100%;
        background-color: color($colors,verde);
        .container{
            height: 100%;
            width: 100%;
            background-color: #fff;;
            h1, h2{
                font-weight: 900 !important;
                span{
                    color: color($colors, verde);
                }
            }
            .detail{
                padding: 3rem 7rem;
            }
        }
    }
}
