<!--
  Generated template for the MyJobContentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <!-- <ion-title>Job Detail</ion-title> -->
    <img src="assets/imgs/ihouse_logo.png" width="50%" alt="">
  </ion-navbar>

</ion-header>
<ion-content padding>

  <div class="container" padding>
    <ion-item no-padding padding-top>
      <div align="center">
        <h1>Mr. {{name}}</h1>
        <p>This was your job</p>
        <p *ngIf="paymentOK">Payment OK!</p>
      </div>
    </ion-item>
    <ion-item lines no-padding>
      <ion-grid class="header-table-service">
        <ion-row>
          <ion-col col-2>
            <b>Code</b>
          </ion-col>
          <ion-col col-7>
            <b> Service</b>
          </ion-col>
          <ion-col col-3>
            <b>Price</b>
          </ion-col>
        </ion-row>
        <hr>
        <ion-row>
          <ion-col col-2>
            <p>{{job.category.id}}</p>
          </ion-col>
          <ion-col col-7>
            <p>{{job.category.name}}</p>
          </ion-col>
          <ion-col col-3>
            <p>$ {{job.category.value}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <br>
    <p>Total:</p>
    <ion-row class="total" padding>
      <div class="total-total">
        <b>{{job.category.value}}</b>
      </div>
    </ion-row>
    <br>
    <div *ngIf="!paymentOK">
      <p>Pay with:</p>
      <ion-row class="paid" padding>
        <div class="paid-mode" (click)="onPayment()">
          <b>PayPal</b>
        </div>
      </ion-row>
    </div>
    <div *ngIf="paymentOK">
        <p style="text-align: center">We are looking for a worker for your job</p>
        <ion-row class="paid ok" padding>
          <div class="paid-mode" (click)="paymentFinish()">
            <b>Ok</b>
          </div>
        </ion-row>
    </div>
  </div>

</ion-content>