<ion-header>
  <ion-navbar padding text-center>
    <img src="assets/imgs/ihouse_logo.png" width="70%" alt="">
  </ion-navbar>
</ion-header>

<ion-content no-padding padding-left padding-right >
    <div class="body">
      <ion-item *ngIf="!myJobs">
        <h1>Ops!</h1>
        <h3>You still don't have jobs</h3>
      </ion-item>
      <ion-list *ngIf="myJobs">
        <ion-item *ngFor="let job of myJobs" (click)="onJobDetail(job)">
          <ion-avatar item-start>
            <img src="data:image/png;base64,{{ job.category.thumb }}">
          </ion-avatar>
          <h1>{{ job.category.name }}</h1>
          <!-- <p>{{ job.client.name }}</p> -->
          <ion-row>
            <ion-col>
                <p>{{job.datetime|date:'dd/mm/yyyy hh:MM'}}</p>
            </ion-col>
            <ion-col>
                <ion-icon name="star" style="color: rgb(252, 214, 0);"></ion-icon>
                <ion-icon name="star" style="color: rgb(252, 214, 0);"></ion-icon>
                <ion-icon name="star" style="color: rgb(252, 214, 0);"></ion-icon>
                <ion-icon name="star" style="color: rgb(0, 0, 0);"></ion-icon>
                <ion-icon name="star" style="color: rgb(0, 0, 0);"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    </div>
</ion-content>
