page-cadastro-cliente {
  .content{
    background-color: color($colors, verde);
    img{ max-width: 45%; }
    .body{
      background-color: #fff;
      padding-bottom: 2rem;
      box-shadow: 0 8px 5px -5px #777;
    }
  }
}
