page-message-form {
  .content{
    background-color: color($colors, verde);
    .body{
      background-color: #fff;
      min-height: 90%;
      padding: 3rem;
      box-shadow: 0 8px 5px -5px #777;
    }
  }
}
