<ion-header>
  <ion-navbar>
    <ion-buttons end *ngIf="!is_view">
      <button ion-button icon-only (click)="declineJob()">
        <ion-icon item-right color="light" name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf="is_view">{{'INVITE' | translate }}</ion-title>
    <ion-title *ngIf="!is_view">{{'DETAIL' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="elevation-content">
    <div class="title" *ngIf="is_view">{{'YOU_ARE_INVITED' | translate }}</div>
    <div class="title">{{'SERVICE_DETAILS' | translate }}</div>
    <hr>
    <div class="description-content" padding>
      <ion-row>
        <ion-col col-5>
          <span class="description">{{'TYPE' | translate }}:</span>
        </ion-col>
        <ion-col col-7>
          <span class="description"><span>{{jobDetail.category.name}}</span></span>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="employer">
        <ion-col col-5>
          <span class="description">{{'ADDRESS' | translate }}:</span>
        </ion-col>
        <ion-col col-7>
          <span class="description"><span>{{employer.address}}</span></span><br>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-5>
          <span class="description">{{'VALUE' | translate }}:</span>
        </ion-col>
        <ion-col col-7>
          <span class="description"><span>${{jobDetail.category.value}},00</span></span><br>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-5>
          <span class="description">{{'TIME' | translate }}:</span>
        </ion-col>
        <ion-col col-7>
          <span class="description"><span>{{jobDetail.timestamp|date:'dd/MM/yyyy HH:mm'}}</span></span><br>
        </ion-col>
      </ion-row>
    </div>
    <hr>
    <div class="buttons">
      <button ion-button round block large margin-top margin-bottom color="verde" (click)="aceptJob()">{{'ACCEPT' | translate }}</button>
      <button ion-button round block large color="danger" (click)="declineJob()">{{'DECLINE' | translate }}</button>
    </div>
  </div>



</ion-content>
