page-job-invite {
    .content {
        background: #0abab5;
    }
    div.elevation-content {
        & {
            background: #fff;
            padding: 16px;
        }
        div.title {
            font-size: 2rem;
            font-weight: bold;
            text-align: center;
            width: 100%;
        }
        div.description-content {
            width: auto;
            span {
                width: auto;
                &.description{
                    font-size: 1.6rem;
                    font-weight: normal;
                    text-align: center;
                    width: 100%;
                    span{
                        color: #0abab5;
                    }
                }
            }
        }
        .buttons{
            margin: 0 10px;
            .button{
                font-weight: 700;
                text-transform: none;
            }
        }
    }
}