page-myjob-content {
    .content {
        height: 100%;
        width: 100%;
        background-color: color($colors, verde);
        .container {
            min-height: 100%;
            width: 100%;
            background-color: #fff;
        }
        .total {
            margin: auto;
            border: solid 2px #f6f6f6;
            width: 20em;
            height: 4em;
            border-radius: 4em;
            .total-total {
                margin: auto;
                color: #666;
                font-size: 16px;
            }
        }
        .button{
            border-width: 2px;
            text-transform: none;
            margin-top: 15px;
        }
    }
}